@import "tailwindcss";

:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --transition: all 0.3s ease;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  background-color: var(--secondary-color);
  transition: var(--transition);
}
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
  color: var(--secondary-color);
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2px;
}
